* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5792ff;
    height: 100%;
}

.game {
    align-items: center;
    align-content: center;
    background-color: #223552;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto auto auto;
    padding: 20px;
    flex-wrap: wrap;
    width: 25em;
}

.game > h1 {
    color: #ffbb00;
}

.game > .values {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.game > .values > h2 {
    color: #ffffff;
    cursor: default;
    font-size: 10vh;
    font-weight: 200;
    margin-left: 2%;
    margin-right: 2%;
}

.game > .answer > .forms > button {
    background-color: #ffbb00;
    color: #0a254d;
    cursor: pointer;
    width: 200px;
    transition: 0.4s;
}

.game > .answer > .forms > button:hover {
    background-color: #ffdc7c;
    transition: 0.4s;
}

.game > .answer > .forms > input {
    background-color: #ffffff;
    color: #0a254d;
    cursor: text;
    width: 50px;
}

.forms > button, .forms > input {
    border: none;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}