* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5792ff;
}

#game_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #223552;
    border-radius: 10px;

    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -40%);

    padding: 5%;
    width: fit-content;
}

#game_container>h1 {
    color: #ffbb00;
    font-size: 30px;

    width: max-content;
}

#game_values {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game_values>h2 {
    color: #ffffff;
    cursor: default;
    font-size: 80px;
    font-weight: 200;

    margin-left: 2%;
    margin-right: 2%;
}

#game_answer>#forms {
    align-items: center;
    display: flex;
    justify-content: center;
}

#forms>button {
    background-color: #ffbb00;
    color: #0a254d;
    cursor: pointer;
    transition: 0.4s;

    width: 200px;
}

#forms>button:hover {
    background-color: #ffdc7c;
    transition: 0.4s;
}

#forms>input {
    background-color: #ffffff;
    color: #0a254d;
    cursor: text;

    width: 50px;
}

#forms>button, #forms>input {
    border: none;
    font-size: 18px;
    text-align: center;

    margin-top: 20px;
    padding: 10px;
}