* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5792ff;
    height: 100%;
}

.container {
    align-items: center;
    align-content: center;
    background-color: #223552;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    padding: 20px 40px;
    flex-wrap: wrap;
    width: fit-content;
}

.container > h1 {
    color: #ffbb00;
}

.container > .values {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container > .values > h2 {
    color: #ffffff;
    cursor: default;
    font-size: 10vh;
    font-weight: 200;
    margin-left: 2%;
    margin-right: 2%;
}

.container > .answer > #forms > button {
    background-color: #ffbb00;
    color: #0a254d;
    cursor: pointer;
    width: 200px;
    transition: 0.4s;
}

.container > .answer > #forms > button:hover {
    background-color: #ffdc7c;
    transition: 0.4s;
}

.container > .answer > #forms > input {
    background-color: #ffffff;
    color: #0a254d;
    cursor: text;
    width: 50px;
}

#forms > button, #forms > input {
    border: none;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}